<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>   

    <add key="DevnoteHubServiceBus" value="Endpoint=sb://devnote.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=ePUqZQoThBRMmmYlUmhkgNyVkakIwdfwyPxXUCUTZkU=" />
    <add key="DevNoteHubQueueName" value="devnotehubqueue" />
  </appSettings>
  
</configuration>